.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(35, 35, 35, 0.4);
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 160px;
    display: inline-block;
    animation: spin 2s infinite linear;
}

@keyframes spin {
  100% {
    transform: scale(1.2);
  }
}